
@media screen and (max-width:1024px){
.package-card{
    margin-top: 28px;
}
.place-card{
    margin-top: 28px;
}
}


@media screen and (max-width:768px) {

    .show-data{

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    background: #50ade3;
        position: inherit;
        top: 61px;
        width: 100%;
        gap: 20px;
        margin: 0 auto;
    
    
       
    }

    nav .logo h1 {
        font-size: 32px;
    }

    nav ul {
        display: none;
    }

    .bar-icon {
        display: block;
    }

    .booking-sec img {
        width: 280px;
        height: 380px;
    }

    .booking-text h1 {
        font-size: 32px;
    }

    .booking-form {
        width: 280px;
        height: 380px;
    }

    .booking-frm-text h2 {
        font-size: 22px;
        margin-top: 0px;
    }

    .booking-opt p {
        margin: 0;
        font-size: 16px;
    }

    .booking-opt {
        margin-top: 0px;
    }

    .booking-frm-text .btn {
        width: 100px;
        font-size: 20px;
    }

    .package .package-text h1 {
        font-size: 32px;
    }

    .Best-place .place-text h1 {
        font-size: 32px;
    }

    .contact-sec .contact-text h1 {
        font-size: 32px;
    }

    .package-card {
        width: 280px;
        height: 280px;
        margin: 25px 20px;
    }

    .package-card img {
        height: 150px;
    }

    .place-card {
        width: 280px;
        height: 280px;
        margin: 25px 20px;
    }

    .place-card img {
        height: 150px;
    }

    .contact-img img {
        width: 250px;
        height: 300px;
    }

    .contact-form-sec {
        width: 250px;
        height: 300px;
    }
}




@media screen and (max-width:500px) {
    .booking-iteam-sec {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .booking-form {
        margin-top: 30px;
    }

    .contact-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .contact-form-sec {
        margin-top: 30px;
    }

}




@media screen and (max-width:400px) {
    nav .logo h1 {
        font-size: 28px;
    }

    .booking-sec img{
        width: 100%;
    }

    .booking-form {
        width: 100%;
    } 

    .package-sec{
        width: 100%;
    }

    .place-card {
        width: 100%;
    }

    .booking-text h1 {
        font-size: 28px;
    }

    .package .package-text h1 {
        font-size: 28px;
    }

    .package-card {
        width: 100%;
    }

}